PORT=5001
NODE_ENV=development
AUTH_SERVICE_URL=http://auth-service:5000
PRODUCT_SERVICE_URL=http://product-service:3001
PAYMENT_SERVICE_URL=http://payment-notification-service:5004
RABBITMQ_URL=amqp://rabbitmq:5672
