PORT=3001
MONGO_URI=mongodb://mongodb:27017/aura_thread_products
NODE_ENV=development
CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
