PORT=5004
NODE_ENV=development
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
RABBITMQ_URL=amqp://rabbitmq:5672
RABBITMQ_DEFAULT_USER=aura
RABBITMQ_DEFAULT_PASS=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=